<h1>This is the main landing page</h1>





 <%= link_to "Login as Admin", 
      new_admin_session_path,
      method: :get %>

<%=link_to "Login as User", 
new_user_session_path, 
method: :get%>



